@import "abstracts"; //Variables-Functions-Mixins-Utilities
@import "components"; //Buttons-Carousel-Slider
@import "animations"; //

/** GENERAL SETTINGS **/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 7px;
}

body {
  font-family: $secondary-font;
  color: $gray-color;
  background-color: $light-color;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  width: 100%;
}

section {
  padding: 8rem 0;
}

h1 , h2 , h3 , h4 , h5 {
  font-family: $primary-font;
  color: $primary-color;
  font-weight: 300;
  letter-spacing: .3rem;
  text-transform: uppercase;
}

h1 {
  font-size: 7rem;
}

h2 {
    font-size: 5rem;
    color: $light-color;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
  color: $light-color;
}

a {
  text-decoration: none;
  font-family: $primary-font;
  color: $light-color;
}

ul {
  list-style: none; //liste elemanlarının solundaki noktayı kaldırıyor
}

img {
  width: 100%; //img elemanlarının bulunduğu divi aşmamasını sağlıyoruz
}

/** TOP HEADER **/

.top-header {
  border-bottom: 1px solid $primary-color;

  .container {
    @include flex-display(flex,center,space-between);
  }

  .logo {

  }

  .top-social-menu {
    display: flex;

    li {
      margin: 0 1rem;
      padding: 1rem;

      a {
        font-size: 2rem;
        transition: all 0.5sn; //hover özelliğinin daha yumuşak bir geçiş olmasını sağlıyor
      }

      &:hover a {
        color: $primary-color;
      }
    }
  }
}

/** NAV HEADER **/

.nav-header {
  .navbar {
    @include flex-display(flex,center,space-between);

    .navbar-list {
      display: flex;

      li {
        line-height: 8rem;
        position: relative; //position özelliği absolute olanlar , position özelliği relative olanlara göre pozisyon alıyor
        transition: all 0.5s;

        .dropdown {
          position: absolute;
          background-color: lighten(
            $secondary-color,
            10%
          ); //secondary-color'dan %10 daha açık bir renk uygular
          width: 150%;
          left: 50%;
          z-index: 10; //Elementin ekranın bizden tarafa 10 birim gelmesini sağlıyor
          top: 12rem; //Özelliği uyguladığımız öğenin üst kenarını, en yakın konumlandırılmış atasının üst kenarından 12rem=120 piksel aşağıya ayarlayın:
          transition: all 0.5s;
          opacity: 0; //Öğeyi sayfada görünmez yapar
          visibility: hidden;

          li {
            line-height: 4rem;
          }
        }

        &:hover {//.dropdown::hover
            background-color: $primary-color;

            & .dropdown {//.dropdown .dropdown
              opacity: 1; //Öğeyi görünür yapar
              visibility: visible;
              top: 8rem;
            }
          }

        a {
          padding: 0 2rem;
          font-size: 1.6rem;
          letter-spacing: 2px;
        }

        i {
            color: $light-color;
            font-size: 1.6rem;
            margin-right: 1rem;
        }
      }
    }

    .search-area {
        input[type="search"] , button[type="submit"] {
            border:none;
            background-color: transparent;
            color: $light-color;
        }

        input[type="search"] {//input elementlerinden type attribute'u search olanı seçer
            border-bottom: 1px solid $primary-color;
            padding: .5rem;//.5rem ile 0.5rem aynı şeydir
        }

        button[type="submit"] {//input elementlerinden type attribute'u search olanı seçer
            margin-left: -5rem;//margin-right: 5rem ile aynı şey değildir , -5rem verirsek sola doğru yaklaştırı yani solundaki boşluğu siler sağına boşluk bırakmaz
        }

    }

  }
}


/** MAIN SLIDER **/

.main-slider {
    .single-slide {
        position: relative;

        .slide-overlay {
            position: absolute;//slide-overlay içindeki yazıların single-slide içinde olan img'in üzerine gelmesini sağladı
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: radial-gradient(ellipse at center , rgba(0,0,0, .5) 0% , rgba(0,0,0, .9) 100%);

            .slide-content {
                position: absolute;
                top: 25%;
                width: 80%;
                border-top: 2px solid $primary-color;
                border-bottom: 2px solid $primary-color;
                padding: 10rem 7rem;
                background: radial-gradient(to right , rgba(0,0,0, .6) , rgba(0,0,0, .1));
                animation: mainAni 3s ease-out;

                p {
                    color: $light-color;
                    font-size: 1.4rem;
                }
            }
        }
    }
}

/** CUSTOM OWL CAROUSEL **/

.owl-theme {
    position: relative;

    .owl-dots {
        position: absolute;
        top: 6rem;
        right: 10%;
        z-index: 5;
        display: flex;

        .owl-dot {
            display: inline-block;
            margin-right: 1.3rem;
            width: 3.3rem;
            height: 3.3rem;
            text-align: center;
            border-radius: 4rem;
            background-color: transparent;
            transition: all .5s;

            &.active , &:hover {
                color: $primary-color;

                span {
                    background-color: transparent;
                }
            }

            span {
                font-size: 2.5rem;
                font-family: $primary-font;
                background: transparent;
            }
        }
    }
}

/** LATEST NEWS **/

.latest-news {
    display: flex;
    background-color: $primary-color;
    height: 8rem;
    align-items: center;

    &-title {
      flex-basis: 25%;//title'ın satırın 25%'ini kaplamasını sağlıyoruz
      text-align: right;
      padding-right: 2rem;
    }

    &-content {
      flex-basis: 75%;//satırın kalan 75%'ini content kaplıyor , 25%'ini başlık kaplamıştı
      background-color: $secondary-color;
      height: 100%;//Senin yüksekliğin seni kapsayan elementin yüksekliği kadar olsun diyoruz

      .news-ticker {
        @include flex-display(flex,center,space-between);
        line-height: 8rem;
        color: $light-color;
        font-size: 1.4rem;
      }
    }
}

/** RECENT GAMES SECTION **/

.recent-games {
  background-color: $light-color;

  &-content {
    display: grid; //content'leri grid tarzında yerleştirsin page'e
    grid-template-columns: 1fr 1fr 1fr 1fr;//Gridin her satırının 4 sütundan oluşmasını sağlıyoruz
    grid-template-rows: auto;//gridin satır sayısının otomatik belirlenmesi sağlanıyor
    grid-row-gap: 4rem;//satırlar arasında boşluk olmasını sağlıyor
    grid-column-gap: 4rem;//sütünlar arası boşluk olmasını sağlıyor
    grid-template-areas: 'item-1 item-1 item-1 item-2'  //item'lar geçici isimlerdir , birazdan itemlara karşılık gelen sınıfları kodluyacağız
                         'item-3 item-4 item-5 item-6'; //her item'ın ne kadar yer kaplıyacağını ve bir satırda kaç item olacağını grid-template-columns'da belirledik
    
    .recent-game-featured {
      @include flex-display(flex,center,space-between);

      .recent-game-thumbnail {
        height: 100%;

        img {
          height: 100%;
        }
      }

      .rating {
        width: 5rem;
        height: 5rem;
        line-height: 5rem;
        font-size: 2rem;
      }

      .game-title {
        font-size: 3rem !important;
      }
    }

    .recent-game {
      width: 100%;
      height: 100%;
      background-color: $secondary-color;

      &-thumbnail {
        position: relative;
        overflow: hidden;

        img {
          width: 100%;
          transition: all .5s;
        }

        &::after {
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          background-color: rgba($primary-color, .6);
          width: 100%;
          height: 100%;
          visibility: hidden;//visibilitie ve opacity özelliklerini kullanarak bu blog içindeki tüm css özelliklerini gizliyoruz
          opacity: 0;
          transition: all .5s;
        }
      }

      &:hover, &:focus {

        .recent-game-thumbnail {

          &:hover {
            &::after {
              visibility: visible;//önceki after bloğu ile yaptığımız css özelliklerinin görünmesini sağlıyoruz
              opacity: 1;
            }
          }

          img {
            transform: scale(1.2) rotate(5deg);//scale ile resmin normal ölçeğinden 1.2 kat daha büyümesini sağladık , zoomladık resme yani , rotate ile de resmin dönmesini sağladık
            transition: all .5s;
          }

          .rating {
            opacity: 1;
            transition: all .5s;
          }
        }

      } 

      &-content {//recent-game-content
        padding: 2rem;

        .game-title {
          margin-bottom: 1.2rem;
          font-size: 1.8rem;
          letter-spacing: 0;

          a {
            transition: all .5s;
            
            &:hover {
              color: darken($light-color, $amount: 40%);
            }
          }
        }

        .game-meta {
          @include flex-display(flex,center,space-between);
          font-size: 1.2rem;

          .game-date {
            color: $date-color;
            transition: all .5s;

            &:hover {
              color: darken($date-color, $amount: 30%);
            }
          }

          .game-comment {
            color: $light-color;
            transition: all .5s;

            &:hover {
              color: darken($light-color, $amount: 30%);
            }
          }
        }

        p {
          font-size: 1.3rem;
          line-height: 1.8;
        }
      }
    }
  }
}

.recent-game-1 {
  grid-area: item-1;
}

.recent-game-2 {
  grid-area: item-2;
}

.recent-game-3 {
  grid-area: item-3;
}

.recent-game-4 {
  grid-area: item-4;
}

.recent-game-5 {
  grid-area: item-5;
}

.recent-game-6 {
  grid-area: item-6;
}